<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body{
            width: 70%;
            margin: 0 auto;
        }
        
        .footer{
            margin: 20px 0;
            padding: 30px 0;
            background-color: black;
            color: white;
            font-weight: bold
        }

        .menu a{
            background-color: black;
            margin: 5px;
            padding: 5px 10px;
            color: white;
            text-decoration: none;
            border: 1px solid;
        }

        .menu a:hover{
            color: black;
            background-color: white;
            border: 1px solid;
        }

    </style>
</head>
<body>
    <div class="footer" style="">
        <p style="text-align: center;">Jinja Charla</p>
    </div>
    <div class="menu">
        <a href="www.python.org.ar" target="_blank">Python Argentina PyAr</a>
        <a href="https://gitlab.com/HoracioNakama/jinja_charla" target="_blank">Repositorio Jinja Charla horasnkm</a>
        <a href="https://jinja.palletsprojects.com/en/3.0.x/" target="_blank">Jinja</a>
        <a href="www.google.com.ar">google</a>
    </div>
   <div class="contenido" style="margin: 100px 0;">
       {% block contenido %}
       {% endblock %}
   </div>
   <div class="footer">
       <p style="background-color: black; color:white; padding: 5px">Este es el pie de la página</p>
   </div>
</body>
</html>